<header id="header">
    <div class="header-section">
        <div class="icon">
            <img src="./img/icon/speaker.svg" alt="">
        </div>
        <span>
            Yeni Dönem Başlıyor: GlassHouse, e& enterprise Ailesinde
        </span>
    </div>
    <nav class="navbar">
        <div class="brand-logo">
            <img src="./img/logo/navbar-brand-logo.svg" alt="">
        </div>
        <div class="navbar-list">
            <ul>
                <li>
                    <a href="#" class="nav-list-item">Kurumsal</a>
                    <div class="submenu">
                        <div class="submenu-container">
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Kurumsal</h3>
                                </div>
                                <a href="#" class="list-item">Hakkımızda</a>
                                <a href="#" class="list-item">Neden GlassHouse</a>
                                <a href="#" class="list-item">Müşteri Deneyimleri</a>
                                <a href="#" class="list-item">Kariyer</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-list-item">Yönetilen Bulut Hizmetlerimiz</a>
                    <div class="submenu">
                        <div class="submenu-container">
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>GlassHouse Cloud Hizmetleri</h3>
                                </div>
                                <a href="#" class="list-item">Infrastructure as a Service</a>
                                <a href="#" class="list-item">SAP as a Service</a>
                                <a href="#" class="list-item">Container as a Service</a>
                                <a href="#" class="list-item">Object Storage as a Service</a>
                                <a href="#" class="list-item">Disaster Recovery as a Service</a>
                                <a href="#" class="list-item">Backup as a Service</a>
                                <a href="#" class="list-item">Monitoring as a Service</a>
                                <a href="#" class="list-item">Firewall as a Service</a>
                                <a href="#" class="list-item">WAF as a Service</a>
                                <a href="#" class="list-item">IPS as a Service</a>
                                <a href="#" class="list-item">Load Balancer as a Service</a>
                                <a href="#" class="list-item">AntiVirus as a Service</a>
                                <a href="#" class="list-item">Vulnerability Management as a Service</a>
                            </div>
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Finansa Özel Mevzuata Tam Uyumlu
                                        Yönetilen Bulut Hizmetleri</h3>
                                </div>
                            </div>
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Yönetilen Hizmetler</h3>
                                </div>
                                <a href="#" class="list-item">AIOps Destekli SAP BASIS Yönetim Hizmeti</a>
                                <a href="#" class="list-item">Veri Tabanı Hizmetleri</a>
                                <a href="#" class="list-item">İşletim Sistemi (OS) Hizmetleri</a>
                                <a href="#" class="list-item">DevOps Hizmetleri</a>
                            </div>
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Profesyonel Hizmetler</h3>
                                </div>
                                <a href="#" class="list-item">Kurumsal Bulut Mimarisi Tasarımı ve Uygulamaları</a>
                                <a href="#" class="list-item">Finansal Bulut Mimarisi Tasarımı ve Uygulamaları</a>
                                <a href="#" class="list-item">Veri Merkezi Taşıma (Migration)</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-list-item">On Premise Çözümlerimiz</a>
                    <div class="submenu">
                        <div class="submenu-container">
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Donanım ve Yazılım Çözümleri</h3>
                                </div>
                                <a href="#" class="list-item">Infrastructure as a Service</a>
                                <a href="#" class="list-item">Yedekleme ve İş Sürekliliği</a>
                                <a href="#" class="list-item">Siber Kurtarma Hizmeti</a>
                                <a href="#" class="list-item">Dell Technologies Veri Merkezi Altyapı Çözümleri</a>
                            </div>
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Network ve Güvenlik Çözümleri</h3>
                                </div>
                                <a href="#" class="list-item">Fortinet Güvenlik Ürünleri</a>
                                <a href="#" class="list-item">Extreme Networks Ürünleri</a>
                            </div>
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Profesyonel Hizmetler</h3>
                                </div>
                                <a href="#" class="list-item">Yönetilen Yedekleme Altyapısı</a>
                                <a href="#" class="list-item">SAP Profesyonel Hizmetleri</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-list-item">Bilgi Merkezi</a>
                    <div class="submenu">
                        <div class="submenu-container">
                            <div class="submenu-list">
                                <div class="title">
                                    <h3>Bilgi Merkezi</h3>
                                </div>
                                <a href="#" class="list-item">Haberler</a>
                                <a href="#" class="list-item">Yedekleme ve İş Sürekliliği</a>
                                <a href="#" class="list-item">Etkinlikler</a>
                                <a href="#" class="list-item">Videolar</a>
                                <a href="#" class="list-item">Blog</a>
                                <a href="#" class="list-item">Terimler Sözlüğü</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="tel:+90 850 885 01 75">
                        <div class="d-flex flex-column align-items-center">
                            <span>İletişim</span>
                            <span>+90 850 885 01 75</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-layout">
            <a href="#" class="btn background-primary">
                Veri Merkezi Durumu
            </a>
            <a href="#" class="btn background-body">
                Destek
            </a>
        </div>
        <div class="language">
            <button class="btn">EN</button>
            <button class="btn">TR</button>
        </div>
        <div class="mobile-menu-btn">
            <button>
                <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="5.45454" y1="1" x2="24.5455" y2="1" stroke="white" stroke-width="2"/>
                    <line y1="10" x2="30" y2="10" stroke="white" stroke-width="2"/>
                    <line x1="5.45454" y1="19" x2="24.5455" y2="19" stroke="white" stroke-width="2"/>
                </svg>                    
            </button>
        </div>
    </nav>

</header>