{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section class="career-hero">
    <div class="container">
        <div class="breadcrumb color-text">
            <div class="breadcrumb-item">
                <a href="index.html">Ana Sayfa</a>
            </div>
            <div class="chevron">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M2 2L8.46154 8L2 14" stroke="black" stroke-width="2" stroke-linecap="square"/>
                </svg>                    
            </div>
            <div class="breadcrumb-item">
                <a href="index.html">Kurumsal</a>
            </div>
            <div class="chevron">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M2 2L8.46154 8L2 14" stroke="black" stroke-width="2" stroke-linecap="square"/>
                </svg>   
            </div>
            <div class="breadcrumb-item">
                <a href="index.html">Kariyer</a>
            </div>
        </div>
        <div class="heading-type-one color-text w-max">
            <h1>KARİYER</h1>
        </div>
        <div class="d-flex">
            <div class="title">
                <h1>Kariyer yolculuğunuzda ihtiyacınız olan ilhamı sunuyoruz.</h1>
            </div>
            <div class="description">
                <p>GlassHouse’ta, her bir çalışanın benzersiz yeteneklerini ortaya çıkararak en üst seviyeye taşımasına yardımcı olacak bir çalışma ortamı bulacaksınız.</p>
            </div>
        </div>
        <div class="img">
            <img src="./img/card/kariyer-hero.png" alt="">
        </div>
    </div>
</section>
<section class="our-targets">
    <div class="container">
        <div class="heading-type-one color-text w-max">
            <h1>KARİYER</h1>
        </div>
        <div class="d-flex w-100">
            <div class="text">
                <div class="title">
                    <h2>
                        Harika bir iş yeri yaratmak en büyük hedefimiz.
                    </h2>
                </div>
                <div class="subtitle">
                    <h3>
                        Güçlü ekip ruhumuz ve eşsiz kurum kültürümüz sayesinde, Türkiye'nin en iyi iş yerlerinden biri olarak Great Place To Work Türkiye Ödülü'nü üst üste dördüncü kez kazanmanın gururunu yaşıyoruz.
                    </h3>
                </div>
                <div class="description">
                    <p>Her bir çalışanımızın katkılarına değer vererek fırsat eşitliği ve çeşitliliğin öncelikli olduğu bir kültür oluşturmayı amaçlıyoruz. Böylece herkesin yeteneklerini en iyi şekilde geliştirebileceği bir ortam sunuyoruz.</p>
                    <p>Gelişim odaklı yapılanmamızla, çalışanlarımızın sürekli olarak kendilerini yenilemelerini destekliyoruz. Bu sayede işlerine daha fazla katkıda bulunmalarını sağlıyoruz. Adil ve şeffaf bir çalışma ortamı oluşturarak, her çalışanı akıllı iş hedefleri ve performansa dayalı sistemlerle adil bir şekilde değerlendiriyoruz ve gelişimlerini destekliyoruz.</p>
                    <p>Tüm bu unsurların bir araya gelmesiyle, GlassHouse’ta çalışanlarımızın kendilerini güvende, değerli ve desteklenmiş hissetmelerini sağlıyoruz. Böylece onları daha motive ve verimli bir şekilde çalışmaya teşvik ediyoruz.</p>
                </div>
            </div>
            <div class="img">
                <img src="./img/card/targets.png" alt="">
            </div>
        </div>
    </div>
    <div class="our-targets-slides">
        <div class="marguee">
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-4.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-4.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-4.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-1.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-2.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-3.png" alt="">
            </a>
            <a href="javascript:void(0);" class="reference-item">
                <img src="./img/card/target-4.png" alt="">
            </a>
        </div>
    </div>
</section>
<section class="fringe-benefits">
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="heading-type-one color-text w-max">
                <h1>YAN HAKLAR</h1>
            </div>
            <div class="heading-1">
                <h2>Yan haklarımızla daha mutlu ve daha
                    verimli bir iş deneyimi sunuyoruz.</h2>
            </div>
            <div class="d-flex w-100">
                <div class="text">
                    <div class="description">
                        <p>GlassHouse olarak, çalışanlarımıza sağladığımız yan haklarla onların iş hayatını kolaylaştırmayı ve memnuniyetini artırmayı hedefliyoruz. Çalışanlarımızın refahı ve mutluluğu bizim için önemlidir ve bu nedenle sunduğumuz yan haklar, onların yaşam kalitesini artırmaya yöneliktir. İşte GlassHouse’ta çalışanlarımıza sunulan bazı yan haklar:</p>
                    </div>
                    <div class="benefits">
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Evden İnternet Desteği ve Sosyal Medya Platform Desteği</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Özel Sağlık Sigortası ve Evde Sağlık Hizmetleri</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Yemek ve Ulaşım İmkanları</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Eğitim ve Gelişim Fırsatları</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Sosyal Etkinlikler</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Doğum Günü İzni ve İzin Paketi Uygulamaları</p>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="./img/icon/hand.svg" alt="">
                            </div>
                            <p>Çalışan Önerme ve Referans Teşvik Programları</p>
                        </div>
                    </div>
                </div>
                <div class="img">
                    <img src="./img/card/benefits.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-us-block">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="heading-type-one color-text w-max">
                <h1>NEDEN GLASSHOUSE?</h1>
            </div>
            <div class="d-flex">
                <div class="title">
                    <h2>Her bir çalışanın hikayesi, GlassHouse’ta anlam buluyor.</h2>
                </div>
                <div class="description">
                    <p>GlassHouse olarak, her çalışanın mutluluk ve gurur duyacağı bir iş ortamı oluşturmayı hedefliyoruz. Fırsat eşitliği ve çeşitliliğin ön planda olduğu, gelişime odaklı, adil ve şeffaf bir çalışma kültürü oluşturarak, çalışanlarımızın potansiyellerini en üst düzeyde kullanmalarını sağlıyoruz.</p>
                </div>
            </div>
            <div class="gallery">
                <img src="./img/card/gallery-img.png" alt="">
            </div>
            <div class="d-flex w-100 reasons-layout">
                <div class="reasons">
                    <div class="item">
                        <div class="title">
                            <h3>Takım Çalışması ve İletişim</h3>
                        </div>
                        <div class="description">
                            <p>Takım çalışmasını teşvik eder ve etkili iletişim becerilerinin geliştirilmesine olanak sağlarız. Bu sayede çalışanlarımızın işbirliği yapma yeteneği güçlüdür ve en iyi sonuçları takım olarak elde etme motivasyonu yüksektir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h3>Çeşitlilik ve Dahiliyet</h3>
                        </div>
                        <div class="description">
                            <p>Herkesin farklı geçmişlere, deneyimlere ve bakış açılarına sahip olduğunu kabul ederiz. Bu bilinçle kapsayıcı bir çalışma ortamı oluşturarak herkesin potansiyelini tam olarak ortaya çıkarmasına olanak tanırız.</p>
                        </div>
                    </div>
                </div>
                <div class="reasons">
                    <div class="item">
                        <div class="title">
                            <h3>İnovasyon ve Gelişim</h3>
                        </div>
                        <div class="description">
                            <p>Teknolojik yenilikleri takip eden ve işletmelerin dijital dönüşümünü destekleyen bir şirketiz. Çalışma ortamımızda da en yeni teknolojileri kullanarak çalışanlarımızın performans ve gelişimlerini destekleriz.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h3>Kariyer Gelişimi ve Eğitim</h3>
                        </div>
                        <div class="description">
                            <p>Çalışanlarımızın sürekli öğrenmesine ve kişisel gelişimine önem veririz. Sunduğumuz eğitim fırsatları ve mentorluk programları ile çalışanlarımızı kariyer yolculuklarında destekleriz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="open-positions">
    <div class="background-gradient position-relative">
        <div class="container">
            <div class="d-flex flex-column">
                <div class="heading-type-one w-max">
                    <h1>YAN HAKLAR</h1>
                </div>
                <div class="heading-1 color-body">
                    <h2>Dinamik ekibimize katılmak için bizimle
                        iletişime geçin!</h2>
                </div>
                <a href="#" class="link">Linkden</a>
            </div>
        </div>
        <div class="img">
            <img src="./img/card/linkden-profile.png" alt="">
        </div>
    </div>
</section>
{% endblock %}
