{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section class="error background-gradient">
    <div class="block">
        <span>HATA</span>
        <div class="title">
            <h1>404</h1>
        </div>
        <div class="desc">
            <p>Aradığınız sayfa bulunamadı, silinmiş ya da adı değişmiş olabilir.</p>
        </div>
        <a href="index.html" class="link">Ana Sayfa</a>
    </div>
    <div class="backdrop-svg">
        <img src="./img/icon/GH.svg" alt="">
    </div>
</section>
{% endblock %}