{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section class="glossary-detail-hero background-gradient">
    <div class="container">
        <div class="breadcrumb">
            <div class="breadcrumb-item">
                <a href="index.html">Ana Sayfa</a>
            </div>
            <div class="chevron">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.46143 2L7.92296 8L1.46143 14" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </svg>                                      
            </div>
            <div class="breadcrumb-item">
                <a href="#">Kurumsal</a>
            </div>
            <div class="chevron">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.46143 2L7.92296 8L1.46143 14" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </svg>                                      
            </div>
            <div class="breadcrumb-item">
                <a href="#">Müşteri Deneyimleri</a>
            </div>
        </div>
    </div>
</section>
<div class="keyword-section">
    <div class="container">
        <div class="block">
            <div class="keyword-content">
                <div class="heading-1">
                    <h2>Keyword</h2>
                </div>        
                <div class="description">
                    <p>Donanım ve yazılım çözümleri portfolyümüzden faydalanırken, endüstri lideri üreticilerin son teknoloji çözümleriyle GlassHouse'nin bilgi birikimi ve tamamlayıcı katma değerli hizmetleriyle birlikte erişebilirsiniz. Yedekleme ve iş sürekliliği çözümlerimize, özel tasarlanmış Siber Kurtarma Hizmetimiz, ve endüstri lideri Dell Technologies Veri Merkezi Altyapı Çözümleri ile geniş portfolyö hizmetinize sunuyoruz.</p>
                    
                    <p>Uçtan uca tüm veri merkezi altyapısını kuruyor ve işletmesine özel ihtiyaçları cevaplıyoruz. Yalnızca donanım ve yazılım temini ile kalmıyor, 20 yılı dayanan tecrübemiz, üretsel metodolojik özel iş ilişkilerimiz, uzman ekibimizin kurduğu profesyonel hizmetlerimiz ile sizleri hedefleriz tüm altyapınızla yöneliyoruz. Dijitalleşmede güvenilir bir iş ortağıyla yola çıkmak ve rakiplerinizden bir adım öne geçmek istiyorsanız, doğru yerdesiniz!</p>
                </div>
        
                <a href="glossary.html" class="glossary-btn">Sözlük Ana Sayfası</a>
            </div>
        
            <div class="related-keywords">
                <h3 class="related-title">İLGİLİ KELİMELER</h3>
                <div class="keyword-list">
                    <div class="keyword-item">Keyword</div>
                    <div class="keyword-item active">Keyword Hover</div>
                    <div class="keyword-item">Keyword</div>
                    <div class="keyword-item">Keyword</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}