{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section class="form-modal">
    <div class="modal-box">
        <div class="modal-body" id="waitBody">
            <div class="icon">
                <img src="./img/icon/wait.svg" alt="">
            </div>
            <div class="title">
                <h1>Gönderiliyor...</h1>
            </div>
            <div class="subtitle">
                <h2>Lütfen bekleyin!</h2>
            </div>
        </div>
        <div class="modal-body " id="successBody">
            <div class="icon">
                <img src="./img/icon/success.svg" alt="">
            </div>
            <div class="title">
                <h1>Teşekkürler!</h1>
            </div>
            <div class="subtitle">
                <h2>Form başarı ile gönderildi. En kısa sürede sizinle iletişime geçilecektir.</h2>
            </div>
            <button class="btn form-button close">Tamam</button>
        </div>
        <div class="modal-body" id="errorBody">
            <div class="icon">
                <img src="./img/icon/error.svg" alt="">
            </div>
            <div class="title">
                <h1>Hata</h1>
            </div>
            <div class="subtitle">
                <h2>Lütfen daha sonra tekrar deneyiniz.</h2>
            </div>
            <button class="btn form-button close">Tamam</button>
        </div>
    </div>
</section>
<section class="services-main-category-hero">
    <div class="backdrop" style="background: url(./img/background/services-main-hero.png);background-position: center;background-size: cover;">
        <div class="container position-relative">
            <div class="breadcrumb">
                <div class="breadcrumb-item">
                    <a href="index.html">Ana Sayfa</a>
                </div>
                <div class="chevron">
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M2 2L8.46154 8L2 14" stroke="black" stroke-width="2" stroke-linecap="square"/>
                    </svg>                    
                </div>
                <div class="breadcrumb-item">
                    <a href="index.html">GlassHouse Cloud Hizmetleri</a>
                </div>
            </div>
            <div class="heading-type-one w-max color-body">
                <div class="icon">
                    <img src="./img/icon/heading-icon.svg" alt="">
                </div>
                <h1>YÖNETİLEN BULUT HİZMETLERİMİZ</h1>
            </div>
            <div class="title">
                <h2>GlassHouse Cloud Hizmetleri</h2>
            </div>
            <div class="description">
                <p>Yönetilen Bulut Hizmetlerimizle, işletmenizin dijital dönüşümünü hızlandırın! Tamamen Türkiye’de barındırılan, mevzuata uyumlu GlassHouse Cloud hizmetlerimiz ile iş süreçlerinizi optimize edin. Değişen iş yüklerine kolayca adapte olun. Güvenli, ölçeklenebilir ve verimli yönetilen bulut hizmetlerimizle yatırım maliyetlerinizi azaltın.</p>
            </div>
            <div class="bottom-icon">
                <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.606952 11.2514C0.726636 11.1318 0.888874 11.0647 1.05803 11.0647C1.22718 11.0647 1.38942 11.1318 1.50911 11.2514L8.0795 17.8207L8.0795 0.638314C8.0795 0.469023 8.14675 0.306665 8.26646 0.186958C8.38617 0.0672501 8.54853 -7.38851e-07 8.71782 -7.24051e-07C8.88711 -7.09251e-07 9.04947 0.0672502 9.16918 0.186958C9.28888 0.306665 9.35613 0.469023 9.35613 0.638315L9.35613 17.8207L15.9265 11.2514C16.0475 11.1386 16.2076 11.0772 16.3729 11.0802C16.5383 11.0831 16.6961 11.1501 16.813 11.267C16.93 11.384 16.997 11.5418 16.9999 11.7071C17.0028 11.8725 16.9414 12.0325 16.8287 12.1535L9.16889 19.8133C9.04921 19.9329 8.88697 20 8.71782 20C8.54866 20 8.38642 19.9329 8.26674 19.8133L0.606951 12.1535C0.487416 12.0338 0.420274 11.8716 0.420274 11.7025C0.420274 11.5333 0.487416 11.3711 0.606952 11.2514Z" fill="white"/>
                </svg>                    
            </div>
            <div class="profile-img">
                <img src="./img/card/main-category-profile.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="scroll-section-block" id="ihtiyac">
    <div class="container">
        <div class="heading-type-one color-text w-max">
            <div class="icon">
                <img src="./img/icon/heading-icon.svg" alt="">
            </div>
            <h1>İHTİYAÇ</h1>
        </div>
        <div class="d-flex w-100 block">
            <div class="text">
                <div class="heading-1">
                    <h2>GlassHouse Cloud hizmetlerini keşfedin!</h2>
                </div>
                <div class="description">
                    <p>Bulut çözümlerimiz, şirketinize daha fazla büyüme, verimlilik ve yeni iş modelleri geliştirme fırsatları sunar. Bu potansiyelden yararlanmanız için, iş gereksinimlerinizi karşılayan özel bir BT altyapısı ve bulut platformuna ihtiyacınız vardır. İster özel, ister genel, ister hibrit bulut olsun, GlassHouse en uygun bulut altyapı çözümünü seçmenizde, kurmanızda ve yönetmenizde size destek olur. Ayrıca, veri güvenliği, ölçeklenebilirlik ve yeni gereksinimlerle ilgili tüm sorularınıza uzman tavsiyeleri sunar.</p>
                    <p>GlassHouse Cloud platformu tamamen Türkiye'de barındırılan Türkiye'nin en güvenli bulutudur. Tüm veri merkezlerimizi aynı mimari ile tasarlayarak Bulut Operasyonlarımızı aynı standartta sürdürüyoruz. Tüm veri merkezlerimizi en az iki adet bağımsız ISP bağlantısı üzerinden yedekli olarak işletiyoruz. GlassHouse Cloud için yedekleme süreçlerine özel cihazlarla kurguladığımız yedekleme altyapımız ile verilerinizi günlük olarak yedekliyoruz.</p>
                </div>
            </div>
            <div class="needs-wrap">
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/hand.svg" alt="">
                    </div>
                    <div class="desc">
                        <p>Tüm Yönetilen Hizmetler Tek Çatı Altında</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/hand.svg" alt="">
                    </div>
                    <div class="desc">
                        <p>Tek İletişim Noktasından Bütünleşik SLA ve Raporlama</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/hand.svg" alt="">
                    </div>
                    <div class="desc">
                        <p>Küresel Standartlara Uygun Kişiselleştirilmiş Hizmet Anlayışı</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/hand.svg" alt="">
                    </div>
                    <div class="desc">
                        <p>Türkiye Cumhuriyet Merkez Bankası ve BDDK Regülasyonlarına Tam Uyumlu Operasyon Modeli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages" id="advantagesVideo">
    <div class="container h-100">
        <div class="d-flex w-100 h-100 position-relative block">
            <div class="header"></div>
            <div class="advantages-layout">
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/security.svg" alt="">
                    </div>
                    <div class="title">
                        <h3>Güvenlik</h3>
                    </div>
                    <div class="desc">
                        <p>Altyapı güvenliğiniz GlassHouse'un profesyonel güvenlik ekipleri ve özel kurgulanmış güvenlik katmanları ile sağlanır.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/yedekleme.svg" alt="">
                    </div>
                    <div class="title">
                        <h3>Yedeklilik ve Erişilebilirlik</h3>
                    </div>
                    <div class="desc">
                        <p>Tam yedekli altyapı bileşenleri, her noktadan erişim, düzenli yedekleme süreçleri</p>
                    </div>
                </div>
            </div>
            <div class="center-block">
                <div class="heading-type-one w-max color-body">
                    <div class="icon">
                        <img src="./img/icon/heading-icon.svg" alt="">
                    </div>
                    <h1>AVANTAJLAR</h1>
                </div>
                <div class="heading-1 color-body">
                    <h2>Türkiye'nin En Güvenli Bulutu!</h2>
                </div>
            </div>
            <div class="advantages-layout">
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/operation.svg" alt="">
                    </div>
                    <div class="title">
                        <h3>Güvenlik</h3>
                    </div>
                    <div class="desc">
                        <p>Altyapı güvenliğiniz GlassHouse'un profesyonel güvenlik ekipleri ve özel kurgulanmış güvenlik katmanları ile sağlanır.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./img/icon/esneklik.svg" alt="">
                    </div>
                    <div class="title">
                        <h3>Yedeklilik ve Erişilebilirlik</h3>
                    </div>
                    <div class="desc">
                        <p>Tam yedekli altyapı bileşenleri, her noktadan erişim, düzenli yedekleme süreçleri</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <video width="150%" height="150%" id="myVideo" autoplay loop muted>
        <source src="./img/video/urun-detail.mp4" type="video/mp4">
    </video>
</section>
<section class="solutions">
    <div class="container">
        <div class="d-flex align-items-center flex-column">
            <div class="heading-type-one color-text">
                <div class="icon">
                    <img src="./img/icon/heading-icon.svg" alt="">
                </div>
                <h1>HİZMET VE ÇÖZÜMLERİMİZ</h1>
            </div>
            <div class="heading-1 color-text">
                <h2>BT Altyapınızı birlikte inşa edelim!</h2>
            </div>
            <div class="d-flex flex-column w-100 align-items-center">
                <div class="card-layout">
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-layout">
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-layout disabled">
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                    <div class="services-card">
                        <div class="tab">
                            <div class="icon">
                                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.35 6.54C18.67 3.09 15.64 0.5 12 0.5C9.11 0.5 6.6 2.14 5.35 4.54C2.34 4.86 0 7.41 0 10.5C0 13.81 2.69 16.5 6 16.5H19C21.76 16.5 24 14.26 24 11.5C24 8.86 21.95 6.72 19.35 6.54Z" fill="#3673B0"/>
                                </svg>                            
                            </div>
                            <span>GLASSHOUSE CLOUD</span>
                        </div>
                        <div class="title">
                            <h2>DISASTER RECOVERY AS A
                                SERVICE</h2>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <a href="#" class="card-link">
                            <span>İncele</span>
                            <div class="icon">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6605 9.33338C10.5337 9.33331 10.412 9.28287 10.3223 9.19317C10.2326 9.10346 10.1822 8.98181 10.1821 8.85494L10.1815 1.88655L1.06917 10.9989C0.97939 11.0887 0.857621 11.1391 0.730653 11.1391C0.603684 11.1391 0.481915 11.0887 0.392135 10.9989C0.302354 10.9091 0.251916 10.7873 0.251916 10.6604C0.251916 10.5334 0.302354 10.4116 0.392135 10.3219L9.50448 1.20951L2.53608 1.20895C2.41211 1.20457 2.29469 1.15225 2.20853 1.063C2.12238 0.973758 2.07423 0.854556 2.07423 0.730511C2.07423 0.606466 2.12238 0.487264 2.20853 0.398017C2.29469 0.308771 2.41211 0.256448 2.53608 0.252072L10.6605 0.252072C10.7874 0.252151 10.909 0.302583 10.9987 0.392291C11.0884 0.481998 11.1389 0.603646 11.139 0.730511L11.139 8.85495C11.1389 8.98181 11.0884 9.10346 10.9987 9.19317C10.909 9.28287 10.7874 9.33331 10.6605 9.33338Z" fill="white"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn-typ-one background-primary" id="solutionMoreButton">
                    Daha Fazla Göster
                </button>
            </div>
        </div>
    </div>
</section>
<section class="data-centre">
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="heading-type-one color-text">
                <div class="icon">
                    <img src="./img/icon/heading-icon.svg" alt="">
                </div>
                <h1>VERİ MERKEZİ</h1>
            </div>
            <div class="heading-1">
                <h2>GlassHouse Cloud altyapısı, ülke sınırları içinde barındırılır.</h2>
            </div>
            <div class="img">
                <img src="./img/card/data-centre-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="contact-form background-gradient">
    <div class="container">
        <div class="d-flex alig-items-start justify-content-between">
            <div class="header">
                <div class="heading-type-one color-body">
                    <div class="icon">
                        <img src="./img/icon/heading-icon.svg" alt="">
                    </div>
                    <h1>İLETİŞİM FORMU</h1>
                </div>
                <div class="title color-body">
                    <h2>Bize ulaşın.</h2>
                </div>
                <div class="desc color-body">
                    <p>Formu doldurun, sizinle iletişime geçelim! BT operasyonlarınız için başarının altyapısını birlikte kuralım.</p>
                </div>
            </div>
            <form class="row g-3 needs-validation" novalidate >
                <div class="col-md-6 position-relative form-input form-item">
                  <input type="text" class="form-control" id="validationTooltip01" placeholder="*Adınız" required>
                </div>
                <div class="col-md-6 position-relative form-input form-item">
                  <input type="text" class="form-control" id="validationTooltip02" placeholder="*Soyadınız" required>
                </div>
                <div class="col-md-6 position-relative form-input form-item">
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="*Firmanızın Adı" required>
                  </div>
                  <div class="col-md-6 position-relative form-input form-item">
                    <input type="text" class="form-control" id="validationTooltip04" placeholder="*Ünvanınız" required>
                    <div class="invalid-tooltip">
                        Lütfen boş bırakmayınız!
                      </div>
                  </div>
                  <div class="col-md-6 position-relative form-input form-item">
                    <input type="tel" class="form-control" id="validationTooltip05" placeholder="+90 (5_ _) _ _ _  _ _  _ _" required>
                </div>
                  <div class="col-md-6 position-relative form-input form-item">
                    <input type="email" class="form-control" id="validationTooltip06" placeholder="*E-Postanız" required>
                </div>
                <div class="col-md-12 position-relative form-textarea form-item">
                  <textarea type="text" class="form-control"  maxlength="250"  placeholder="Mesajınızı bu alana yazabilirsiniz" id="validationTooltip07" required></textarea>
                </div>
                <div class="form-check" id="kvkk">
                    <div class="custom-box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="white"/>
                        </svg>                            
                    </div>
                    <input class="form-check-input" type="checkbox" id="kvkkCheck">
                    <label class="form-check-label" for="kvkkCheck">
                        Bizimle kurmuş olduğunuz iş ilişkisi kapsamında bizlerle paylaşmış olduğunuz verilerinizi, sizleri ürün ve hizmetlerimizle ilgili bilgilendirmek ve ürünlerimizle ilgili etkinliklerimizden haberdar edebilmek amacıyla işlemekteyiz. Kişisel verilerinizi nasıl işlediğimize ilişkin daha detaylı bilgi ve haklarınız için Kişisel Verilerin Korunması Kanunu Uyarınca Aydınlatma Metninde yer alan aydınlatma metnini inceleyebilirsiniz.Gönder tuşuna basarak bu formda paylaştığınız bilgilerle ilgili olarak Kişisel Verilerin Korunması Kanunu Uyarınca Aydınlatma Metninde yer alan şartları kabul etmiş sayılırsınız.
                    </label>
                  </div>
                  <div class="form-check active align-items-center" id="eBulten">
                    <div class="custom-box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="white"/>
                        </svg>                            
                    </div>
                    <input class="form-check-input" type="checkbox" id="newsletterCheck">
                    <label class="form-check-label" for="newsletterCheck">
                        e-Bülten'e abone olmak istiyorum.
                    </label>
                  </div>
                <div class="col-12">
                  <button class="btn" type="submit">Gönder</button>
                </div>
              </form>
        </div>
    </div>
</section>
{% endblock %}