#footer{
	width: 100%;
	height: 40rem;
	@include lg{
		height: 100%;
	}
	.footer-backdrop{
		background-color: #111827;
		height: 100%;
	}
	.container{
		height: 100%;
		@include mini{
			margin-inline: 1.5rem;;
		}
	}
	.footer-layout{
		width: 100%;
		height: 100%;
		padding: 4rem 0;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		.footer-top{
			display: flex;
			align-items: flex-start;
			width: 100%;
			@include lg{
				flex-direction: column;
				align-items: flex-start;
			}
		}
		.brand-logo{
			margin-bottom: 3.2rem;
			max-width: 16rem;
			max-height: 4rem;
			display: block;
		}
		.contact{
			display: flex;
			align-items: center;
			gap: 0 3.3rem;
			.social-media{
				display: flex;
				align-items: center;
				gap: 0 1.3rem;
				.item{
					min-width: 3rem;
					min-height: 3rem;
					max-width: 3rem;
					max-height: 3rem;
				}
			}
			span{
				font-size: 1.3rem;
				line-height: 1.8rem;
				color:#ffffff;
				@include extrabold;
			}
		}
		.footer-list-wrap{
			margin-left: auto;
			display: flex;
			@include lg{
				margin-left: 0;
				margin-top: 5.7rem;
				width: 100%;
			}
			@include sm{
				flex-wrap: wrap;
				gap: 4rem 0;
				width: 100%;
			}
			.footer-list{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 18.7rem;
				margin-left: 3.2rem;
				@include lg{
					margin-left:5.8rem;
				}
				@include sm{
					width: 50%;
					margin-left: 0;
				}
				&:first-of-type{
					margin-left: 0;
				}
				h3{
					font-size: 1.3rem;
					line-height: 1.9rem;
					@include extrabold;
					color: #ffffff;
					margin-bottom: 2rem;
				}
				ul{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 2rem 0;
					@include sm{
						max-width: 18.7rem;
					}
					a{
						font-size: 1.3rem;
						line-height: 1.8rem;
						@include regular;
						color: #989FAB;

					}
				}
			}
		}
		.footer-bottom{
			width: 100%;
			margin-top: auto;
			border-top: .1rem solid rgb(152, 159, 171,.3);
			display: flex;
			align-items: center;
			padding-top: 2rem;
			@include md{
				margin-top: 5.3rem;
			}
			@include sm{
				margin-top: 9.1rem;
				flex-direction: column-reverse;
				align-items: flex-start;		
				gap: 2rem 0;	
			}
			.footer-right{
				display: flex;
				align-items: center;
				gap: 0 1rem;
				margin-left: auto;
				@include sm{
					margin-left: 0;
					flex-direction: column;
					align-items: flex-start;
				}
			}
			.footer-bottom-item{
				font-size: 1.2rem;
				line-height: 2.4rem;
				color: #989FAB;
				@include regular;
			}
			.footer-bottom-link{
				font-size: 1.2rem;
				line-height: 2.4rem;
				color: #989FAB;
				@include regular;
			}
		}
	}

}