.contact-form{
    width: 100%;
    height: 100%;
    padding-top: 7.7rem;
    padding-bottom: 7.7rem;
    margin-top: -.1rem;
    @include md{
        padding-top: 3.2rem;
        padding-top: 3rem;
    }
    &.scroll{
        padding-top: 9.6rem;
        padding-bottom: 0;
        @include md{
            padding-top: 6.4rem;
        }
    }
    @include md{
        .d-flex.alig-items-start{
            flex-direction: column;
        }
    }
    .container{
        @include md{
            margin-left: 9rem;
            margin-right: 9rem;
        }
        @include sm{
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
    .header{
        max-width: 29rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include bigger-than-xl{
            max-width: 30%;
        }
        @include md{
            max-width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.6rem;
        }
        .heading-type-one{
            color: #000000;
        }
        .title{
            font-size: 3.2rem ;
            line-height: 4.4rem;
            @include font;
            color: #000000;
            margin-top: 4.2rem;
            @include md{
                margin-top: 2rem;
            }
        }
        .desc{
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #000000;
            @include font;
            margin-top: 2rem;
            @include md{
                text-align: center;
                margin-top: 2rem;
            }
        }
    }
    form{
        max-width: 84.3rem;
        width: 100%;
        margin-left: auto;
        --bs-gutter-x:0;
        --bs-gutter-y:0;
        @include md{
            max-width: 100%;
        }
        &.row{
            *{
                margin-top: 0;
                padding-left: 0;
                padding-right: 0;
            }
            .form-textarea{
                max-width: 100%;
            }
            .form-input{
                width: calc(100% / 2 - 1.6rem);
            }
            .form-input,
            .form-textarea{
                margin-bottom: 2.4rem;
                max-width: 40.6rem;
                @include md{
                    max-width:calc(50% - 1.6rem);
                    width: 100%;
                }
                @include sm{
                    max-width:calc(50% - .8rem);
                }
                @include mini{
                    max-width: 100%;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
                &:nth-child(even){
                    margin-left: auto;
                }
    
                input,
                textarea{
                    border-color: transparent;
                    background-color: #E4EAF2;
                    border-radius: .7rem;
                    padding: 1.35rem 1.4rem;
                    padding-right: 1rem;
                    padding-left: 1.5rem;
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                    color: #000000;
                    @include font;
                    &::placeholder{
                        color: #000000;
                        opacity:.5;
                        @include font;                
                    }
                    &:focus{
                        border-color: #00AEEF;
                        box-shadow: none;
                    }
                }
                textarea{
                    height: 7.2rem;
                    resize: none;
                }
            }
            .form-textarea{
                max-width: 100%;
            }
            .form-check{
                display: flex;
                align-items: flex-start;
                gap: 0 1rem;
                position: relative;
                margin-bottom: 1.2rem;
                cursor: pointer;
                .form-check-input{
                    margin-left: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    width: 2rem;
                    height: 2rem;
                    cursor: pointer;
                }
                label{
                    font-size: 1.1rem;
                    line-height: 1.5rem;
                    color: rgb(0, 0, 0,.6);
                    @include font;
                    cursor: pointer;                    
                }
                .custom-box{
                    min-width: 2rem;
                    cursor: pointer;
                    min-height: 2rem;
                    border-radius: .3rem;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: .1rem solid rgb(0, 0, 0 ,.5);
                    position: relative;
                    overflow: hidden;
                    svg{
                        z-index: 2;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 400ms ease, visibility 400ms ease;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        overflow: hidden;
                        height: 100%;
                        background-color: #00AEEF;
                        transition: all 400ms ease;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                &.active{
                    .custom-box{
                        svg{
                            opacity: 1;
                            visibility: visible;
                        }
                        &:before{
                            opacity: 1;
                            visibility: visible;
                        }
                        border-color: #00AEEF;
                    }
                }
                &.align-items-center{
                    margin-bottom: 0;
                }
            }
            button{
                margin-top: 1.6rem;
                background-color: #00AEEF;
                border-radius: 3rem;
                padding: 1.1rem 2.5rem;
                font-size: 1.4rem;
                line-height: 1.9rem;
                color: #ffffff;
                @include extrabold;
                border: none;
                &:active{
                    background-color: #00AEEF;
                    color: #ffffff;
                }
                @include mini{
                    width: 100%;
                    margin-top: 2rem;
                }
            }
            .invalid-tooltip{
                display: none;
            }
            .invalid{
                input{
                    border-color: #9747FF;
                    background-image: none;
                    &:focus{
                        border-color: #9747FF;
                    }
                }
                .invalid-tooltip{
                    display: flex;
                    width:max-content;
                    margin-left: auto;
                    right: 0;
                    color: #9747FF;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    @include regular;
                    background-color: transparent;
                }
            }
        }
        
    }
    &.background-gradient{
        background: linear-gradient(90deg, #592E6D 0%, #249FDD 100%);
        padding-top: 6.6rem;
        padding-bottom: 6.1rem;
        margin: 0;
        form.row {
            .invalid-tooltip{
                color: #ffffff;
            }
            .form-check{
                .custom-box{
                    border-color: rgb(250, 250, 250,.6);
                }
                label{
                    color: #ffffff;
                }
                &.active{
                    .custom-box{
                        border-color: #00AEEF;

                    }
                }
            }
        }
        @include md{
            padding-top: 3.2rem;
            padding-bottom: 3rem;
        }
        .header{
            @include md{
                margin-bottom: 1.9rem;
                align-items: flex-start;
                .desc{
                    text-align: left;
                }
            }
        }
        
    }
    .background-gradient{
        background: linear-gradient(90deg, #592E6D 0%, #249FDD 100%);
        padding-top: 6.6rem;
        padding-bottom: 6.1rem;
        margin: 0;
        form.row {
            .form-check{
                .custom-box{
                    border-color: rgb(250, 250, 250,.6);
                }
                label{
                    color: #ffffff;
                }
                &.active{
                    .custom-box{
                        border-color: #00AEEF;

                    }
                }
            }
        }
        @include md{
            padding-top: 3.2rem;
            padding-bottom: 3rem;
        }
        .header{
            @include md{
                margin-bottom: 1.9rem;
                align-items: flex-start;
                .desc{
                    text-align: left;
                }
            }
        }
    }
}