.customer-experience-detail-hero{
    width: 100%;
    background-color: #F8F8F8;
    .heading-1{
        @include extrabold;
    }
    .hero-block{
        padding-top: 6rem;
        padding-bottom: 11.1rem;
        display: flex;
        align-items: flex-start;
        @include md{
            padding-top: 4rem;
            padding-bottom: 2.7rem;
        }
    }
    .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        @include md{
            max-width: 100%;
            width: 100%;
            
        }
        .detail-info{
            margin-top: 2.8rem;
            @include md{
                margin-inline: 3rem;
                margin-top: 3.2rem;
            }
            .info-item{
                margin-bottom: 1.5rem;
                @include md{
                    margin-bottom: 2rem
                }
            }
            .title{
                @include extrabold;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #000000;
            }
            p{
                @include regular;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #000000;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 1.5rem;
                a{
                    position: relative;
                    @include regular;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #00AEEF;
                    text-decoration: underline;
                    &:after{
                        content: "";
                        position: absolute;
                        left: -1rem;
                        width: .5rem;
                        height: .5rem;
                        border-radius: 50%;
                        background-color: #00AEEF;
                        top: .8rem;

                    }
                }
            }
        }
        .mobile-img{
            @include md{
                border-radius: 1.5rem;
                overflow: hidden;
                box-shadow: 0 0 1.5rem 0 rgb(0, 0, 0, .2);
                margin-top: 2rem;
                img{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .img{
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: 0 0 1.5rem 0 rgb(0, 0, 0, .2);
        img{
            display: flex;
        }
    }
}
.customer-experience-hero{
    width: 100%;
    height: 78rem;
    @include md{
        height: 100%;
        padding-bottom: 6.4rem;
    }
    .customer-sliders{
        margin-top: 6rem;
        margin-inline:auto;
        .bottom-slider-block{
            &:after{
                display: none;
            }
            &:before{
                display: none;
            }
        }
    }
}