.detail-text-section{
    width: 100%;
    .social-media-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem 0;
        position: sticky;
        top: 10rem;
        height: max-content;
    }
    @include md{
        display: flex;
        flex-direction: column;
        align-items: center;
        .alt-container{
            margin-inline:0rem;
        }
    }
    .block{
        padding-top: 6.4rem;
        width: 100%;
        @include md{
            width: auto;
        }
    }
    .text-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 3.2rem;
        h3{
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: #000000;
            @include extrabold;
        }
        h2{
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: #000000;
            @include black;
        }
        .title{
            margin-bottom: 2rem;
            &.color-primary{
                h3,h2{
                    color: #00AEEF;
                }
            }
            display: flex;
            align-items: center;
            span{
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: #00AEEF;
                @include extrabold;
                margin-right: .5rem;
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 2.2rem;
            color: #000000;
            @include regular;
            margin-bottom: 2rem;
        }
        strong{
            @include extrabold;
        }
        ul{
            padding-left: 2.2rem;
            margin-bottom: 2rem;
            li{
                list-style-type: disc;
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: #000000;
                @include regular;
                margin-bottom: 2rem;
                position: relative;
                &:last-of-type{
                    margin-bottom: 0;
                }
                a{
                    color: #00AEEF;
                    text-decoration: underline;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    @include regular;
                }
                
            }
        }
        .img{
            width: 100%;
            height: auto;
            border-radius: 1.5rem;
            overflow: hidden;
            margin-bottom: 4.2rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .video-section-backdrop{
        border-radius: 1.5rem;
        padding: 4rem 11rem;
        height: 49rem;
        background-color: #F7F9FC;
        margin-top: 2rem;
        margin-left: 6.2rem;
        width: auto;
        @include md{
            margin-left: 0;
            height: 100%;
            padding: 5rem;
        }
        .video-box{
            position: relative;
        }
        .play-button{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .contents-box{
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        padding: 3rem;
        height: auto;
        margin-bottom: 4rem;
        z-index: 1;
        h2{
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: #ffffff;
            @include regular;
        }
        ul{
            margin-bottom: 0;
            padding-left: 0;
            li{
                font-size: 1.8rem;
                line-height: 2.5rem;
                color: #ffffff;
                @include regular;
                margin-bottom: .3rem;
                list-style-type: none;
                &:last-of-type{
                    margin-bottom: 0;
                }
                span{
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                    color: #ffffff;
                    @include regular;
                    margin-right: .5rem;
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
        a{
            text-decoration: none !important;
        }
        .contents-title{
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: #ffffff;
            @include extrabold;
            padding-bottom: 1.2rem;
            border-bottom: .1rem solid rgb(255, 255, 255,.5);
            margin-bottom: 1rem;
        }
        .contents-subtitle{
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #ffffff;
            @include regular;
            list-style-type: decimal;
        }

    }
}