.detail-hero{
    width: 100%;
    background-color: #F8F8F8;
    height: 50rem;
    @include md{
        height: 100%;
        padding-bottom: 6.4rem;
    }
    .breadcrumb{
        @include md{
            margin-left: 3rem;
        }
    }
    .block{
        width: 100%;
        display: flex;
        gap: 0 3.2rem;
        margin-top: 6rem;
        @include md{
            flex-direction: column;
            align-items: flex-start;
        }
        
        .text{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include md{
                margin-inline:3rem;
                width: auto;
            }
            .info-item{
                display: flex;
                align-items: center;
                gap: 0 1rem;
                font-size: 1.6rem ;
                line-height: 2.2rem;
                color: #000;
                @include regular;
                &:last-of-type{
                    margin-bottom:1.4rem;
                }

            }
            .heading-1{
                @include black;
                margin-bottom: 1.6rem;
                @include md{
                    margin-bottom: 2.4rem;
                }
            }
            .documents-download{
                background-color: #9747FF;
                border-radius: 3rem;
                padding: 1.1rem 2.5rem;
                font-size: 1.4rem;
                line-height: 1.9rem;
                color: #ffffff;
                @include extrabold;
                display: flex;
                align-items: center;
                gap: 0 1rem;
                margin-top: 5rem;
                transition: all 400ms ease;
                @include md{
                    margin-top: 1.4rem;
                }
                &:hover{
                    background: darken($color: #9747FF, $amount: 10);
                }
            }
        }
        .img{
            border-radius: 1.5rem;
            overflow: hidden;
            width: 50%;
            @include md{
                margin-top: 3.2rem;
                margin-inline:1.5rem;
                width: auto;
            }
            img{
                width: 100%;height: 100%;
                object-fit: cover;
                display: flex;
            }
        }
    }
}