.our-targets{
    width: 100%;
    .heading-type-one{
        margin-bottom: 4.2rem;
    }
    .text,
    .img{
        margin-bottom: 4.7rem;
    }
    .title{
        font-size: 4rem;
        line-height: 4.6rem;
        color: #000000;
        @include font;
        margin-bottom: 2.8rem;
        @include mini{
            font-size: 2.8rem;
            line-height: 3.4rem
        }
    }
    .subtitle{
        @include extrabold;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #000000;
        margin-bottom: 2rem;
    }
    .block{
        @include md{
            flex-direction: column;
        }
    }
    .description{
        *{
            margin-bottom: 2rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .img{
        border-radius: 1.5rem;
        overflow: hidden;
        min-width: 48.75%;
        max-width: 48.75%;
        margin-left: 5.5rem;
        @include md{
            width: 100%;
            max-width: 100%;
            margin-left: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .our-targets-slides{
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: .6rem;
        gap: 0 3rem;
        overflow: hidden;
        margin-bottom: 8.6rem;
        .marquee{
            height: 100%;
            animation-name: marqueeImgAnimation;
            animation-play-state: running;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            white-space: nowrap;
            align-items: center;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 0 5rem;
            animation-duration: 70s;
            animation-direction: normal;
            @include bigger-than-xxl{
                animation-duration: 70s;
            }
            .reference-item {
                flex-shrink: 0;
                margin-right: 20px; /* Resimler arası boşluk */
                transition: filter 400ms ease;
                width: 13rem;
                height: 13rem;
                @include bigger-than-xxl{
                    margin-right: 5rem;
                }
                *{
                    height: auto;
                    object-fit: cover;
                    width: auto;
                }
               
            }
        }
        
    } 
}
@keyframes marqueeImgAnimation {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-50%);
    }
}